* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    gap: 100px;
}

.gameboard {
    border: 1px black solid;
}

.row {
    display: flex;
}

.block {
    border: 1px black solid;
    height: 40px;
    width: 40px;
}